<div class="showAllUsers">

<% @users.each do |user| %>
  <div class="eachUserContainer">
    <%= link_to(user) do %>
      <div class="eachUser">

        <div class="userPicture">
          <img src=<%= user.picture %> alt="Profile Picture">
        </div>

        <div class="userName">
          <%= user.name %>
        </div>

      </div>
      <% end %>
    </div>
<% end %>

</div>