<div class="showAllUsers">

<% @users.each do |user| %>
<div class="eachUser">


<div class="userPicture" > 
<img src=<%= user.picture %> alt="Profile Picture">
</div>

<div class="userName"> 
<%= link_to user.name, user %>
</div>


</div>
<% end %>

</div>